@use 'sass:meta';
@use 'euid' as *;

// selector1 selector2 ... selectorN

// @while 조건 {}

$i: 10;

@while $i > 0 {
  // @debug $i;
  $i: $i - 1;
}

// @for {}
@for $i from 1 through 10 {
  // @debug $i;
}

// list, map 순환 @each 문

$selectors: 'table caption', '.skipToContent a', body, '.section';

@each $selector in $selectors {
  #{$selector} {
    @include a11y-hidden;
  }
}
