$gray: (
  100: #e6e6e6,
  200: #cccccc,
  300: #b3b3b3,
  400: #9a9a9a,
  500: #818181,
  600: #676767,
  700: #4d4d4d,
  800: #333333,
  900: #1a1a1a,
);

$red: (
  100: #f8d8d8,
  200: #f1b1b1,
  300: #eb8a8a,
  400: #e46363,
  500: #dd3c3c,
  600: #b13030,
  700: #852424,
  800: #581818,
  900: #2c0c0c,
);

$sky: (
  100: #d5ebfb,
  200: #abd7f6,
  300: #81c2f2,
  400: #57aeed,
  500: #2e9ae9,
  600: #247bba,
  700: #1b5c8c,
  800: #123e5d,
  900: #091f2f,
);

$colors: (
  'white': #ffffff,
  'black': #000000,
  'gray': $gray,
  'red': $red,
  'sky': $sky,
);
