body {
  margin: 4rem;
}

.user-card {
  border: 4px solid rgba(0 0 0 / 40%);
  padding: 2rem;
}

.user-name {
  margin: 0;
  font-size: 1.6rem;
  text-transform: uppercase;
}

.user-resouce-info {
  margin-top: 16px;
  display: flex;
  gap: 24px;
}

.user-card a {
  text-decoration: none;
  font-size: 1rem;
}

.user-email {
  color: #706efd;
}

.user-website {
  color: #312fa2;
}